body{
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  text-align: center;
  font-family: 'Alegreya', serif;
  color: #40514E;
  background-image: url(images/website-design-background.png);
}

h1{
  color: #66BFBF;
  font-size: 4.62em;
  margin-top: 0;
  font-family: 'Tangerine', cursive;
   line-height: 2cm;
}
h2{
  color: #66BFBF;
  font-size: 2.5em;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  padding-bottom: 10px;
}

h3{
font-family: 'Montserrat', sans-serif;
}


.top-container{
  background-color: #c8e8ed;
  position: relative;
  padding-top: 100px;
}
.middle-container{

}
.bottom-container{
margin-top: 60px;
background-color:#66BFBF;
padding: 50px 0px 20px;
}

p{
font-weight: normal;
}

a{
 color: #11999E;
 font-family: 'Montserrat', sans-serif;
 margin: 10px 10px ;
 text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

hr{
border: dotted #EAF6F6 6px;
border-bottom: none;
width: 4%;
margin: 70px auto 70px auto;
}

.intro{
  width: 30%;
  margin: auto;
  line-height: 2;
}

.bottom-cloud{
position: absolute;
}
.top-cloud{
position: absolute;
margin: 10px;
top: 20px;
}
li{
  text-align: center;
}


.butn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.butn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.contactMe{
 width: 40%;
 margin: 40px auto 40px auto;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0px;
}
